.bandeau{
    width: 70em; 
    height: 200px;
    background-color:grey; 
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: flex-start; 
    align-items: flex-end;
    margin: 0 auto;
    padding: 20px;   

    .photoprofil{
        width: 100px;
        height: 100px;
        background-color: red; 
        margin-right: 20px;
        border-radius: 50%; 
        position: relative;
        background-position: center; 
        background-size: cover; 

        input{
            opacity: 0.0; 
            position: absolute; 
            top: 0; 
            left: 0; 
            bottom: 0; 
            right: 0; 
            width: 100%; 
            height:100%;
            cursor: pointer; 
        }
    }

    .fname, .lname{
        color: white; 
    }

}